include ../heading/index.pug
include ../icon/index.pug

mixin headingList(title, list)
	figure(class=s.headingList)&attributes(attributes)
		figcaption(class=s.headingList_caption)
			+heading({text: title, tag: 'h3'}, 'h2')(class=s.headingList_title)
		ul(class=s.headingList_items)
			each item in list.sort((a, b) => b.cases - a.cases)
				- let {cases, image, name, growth} = item;
				li
					button(
						class=s.headingList_button
						type='button'
						:class=`{
							'${s.headingList_button__active}': activeCountry === '${name.toLowerCase()}'}`
						@click=`activeCountry = '${name.toLowerCase()}'`)
						+icon(image)(class=s.headingList_icon)
						span(class=s.headingList_name)= name
						span(class=s.headingList_cases)= cases
						+icon('assetIconTriangle')(class=s[`headingList_growthMark${growth ? 'Up': 'Down'}`])
