include ../picture/index.pug

mixin review(data)
	- let {quote, avatar, name, company, mod} = data

	div(class=cx(s.review, s[`review__${mod}`] ))&attributes(attributes)
		blockquote(class=cx(s.text, s.review_quote))!= `&ldquo;${quote}&rdquo;`
		footer(class=s.review_footer)
			figure(class=s.review_avatar)
				+picture(avatar, name)
			cite(class=s.review_meta)
				strong(class=s.review_name)= name
				span(class=s.review_company)= company
