mixin menu(list)
	nav(class=s.menu)&attributes(attributes)
		ul(class=s.menu_list)
			each item in list
				- let {title} = item;
				li(class=s.menu_item)
					a(
						href='#' + title.toLowerCase()
						class=s.menu_link
					)= title
