mixin picture(src, alt)
	- let token = tokens[src];
	- let getPath = (name) => require('../assets/images/' + name).default;
	- let getName = (name) => parseFilename(name).name;
	- let getExt = (name) => parseFilename(name).ext;

	mixin source(path, ext)
		source(
			srcset=`
				${getPath(`${getName(path)}@1x.${ext}`)} 1x,
				${getPath(`${getName(path)}@2x.${ext}`)} 2x
			`
			type=`image/${ext === 'jpg' ? 'jpeg' : ext}`
		)

	picture&attributes(attributes)
		+source(token, 'webp')
		if (getExt(token) === '.jpg')
			+source(token, 'jpg')
		if (getExt(token) === '.png')
			+source(token, 'png')
		img(
			src= getPath(`${getName(token)}@1x${getExt(token)}`)
			alt=alt + '.')
