include ../backToTop/index.pug
include ../contagion/index.pug
include ../heading/index.pug
include ../help/index.pug
include ../hero/index.pug
include ../icon/index.pug
include ../overview/index.pug
include ../prevention/index.pug
include ../reports/index.pug
include ../section/index.pug
include ../symptoms/index.pug

mixin main()
	main(class=s.main)&attributes(attributes)
		+section()(class=s.section__hero)
			div(class=s.section_inner)
				+hero()
			each i, idx in Array(4)
				+icon('assetIconVirus')(
					class=cx(s.section_virus, s[`section_virus${idx}`]))

		+section()(class=s.section__overview)
			div(class=s.section_inner)
				+overview()(id='overview')
			each i, idx in Array(2)
				+icon('assetIconVirus')(
					class=cx(s.section_virus, s[`section_virus${idx}`]))

		+section()(class=s.section__contagion)
			div(class=s.section_inner)
				+contagion()(id='contagion')
				+icon('assetIconVirus')(class=cx(s.section_virus, s.section_virus0))

		+section()(class=s.section__symptoms)
			div(class=s.section_inner)
				+symptoms()(id='symptoms')
			each i, idx in Array(2)
				+icon(`assetIconCloud${idx}`)(
					class=cx(s.section_cloud, s[`section_cloud${idx}`]))

		+section()(class=s.section__prevention)
			div(class=s.section_inner)
				+prevention()(id='prevention')
			each i, idx in Array(3)
				+icon('assetIconVirus')(
					class=cx(s.section_virus, s[`section_virus${idx}`]))

		+section()(class=s.section__reports)
			div(class=s.section_inner)
				+heading({text: d.reports.heading, tag: 'h2'})(class=s.section_heading)
				+reports()

		+section()(class=s.section__help)
			div(class=s.section_inner)
				+help()(id='help_form')
			each i, idx in Array(2)
				+icon('assetIconVirus')(
					class=cx(s.section_virus, s[`section_virus${idx}`]))

		+backToTop()
