include ../aside/index.pug
include ../button/index.pug
include ../features/index.pug
include ../hero/index.pug
include ../icon/index.pug
include ../overview/index.pug
include ../partners/index.pug
include ../projects/index.pug
include ../review/index.pug
include ../section/index.pug

mixin main()
	main(class=s.main)&attributes(attributes)
		+section()(class=s.section__hero)
			div(class=s.section_inner)
				+hero()
			each i, idx in Array(4)
				+icon('assetIconVirus')(
					class=cx(s.section_virus, s[`section_virus${idx}`]))
		+section()(class=s.section__overview)
			div(class=s.section_inner)
				+overview()
			each i, idx in Array(2)
				+icon('assetIconVirus')(
					class=cx(s.section_virus, s[`section_virus${idx}`]))
	//- 	+section()(class=s.section__projects)
	//- 		+projects(d.projects.list)(class=s.section_inner)
	//- 	+section()(class=s.section__features)
	//- 		+features(d.features.list)(class=cx(s.section_inner))
