include ../about/index.pug
include ../aside/index.pug
include ../features/index.pug
include ../hero/index.pug
include ../partners/index.pug
include ../projects/index.pug
include ../review/index.pug
include ../section/index.pug

mixin main()
	main(class=s.main)&attributes(attributes)
		+section()(class=s.section__hero)
			+hero()(class=s.section_inner)
		+aside()(class=s.main_aside)
			+partners(d.partners)
		+section()(class=s.section__about)
			+about()(class=cx(s.section_inner, s.section_inner__start))
			+review(d.review[0])(class=cx(s.section_inner, s.section_inner__end))
		+section()(class=s.section__projects)
			+projects(d.projects.list)(class=s.section_inner)
		+section()(class=s.section__features)
			+features(d.features.list)(class=cx(s.section_inner))
