include ../heading/index.pug
include ../headingDouble/index.pug
include ../icon/index.pug
include ../text/index.pug

mixin prevention()
	div(class=s.prevention)&attributes(attributes)
		header(class=s.prevention_header)
			+headingDouble(
				{text: d.prevention.subheading},
				{text: d.prevention.heading})
			+text(d.prevention.description)
		ul(class=s.prevention_list)
			each item in d.prevention.list
				- let {title, description, image} = item
				li(class=s.prevention_item)
					div(class=s.prevention_itemContent)
						+heading({text: title, tag: 'h3'}, 'h3')(
							class=s.prevention_itemTitle)
						+text(description)(
							class=s.prevention_itemDesc)
					+icon(image)(class=s.prevention_itemImg)
