include ../heading/index.pug
include ../icon/index.pug
include ../text/index.pug

mixin feature(data)
	- let {description, image, title} = data;
	li(class=s.feature)&attributes(attributes)
		+icon(image)(class=s.feature_image)
		+heading({text: title, tag: 'h3', modifier: 'h4'})(class=s.feature_heading)
		+text(description)

mixin features(list)
	div(class=s.features)&attributes(attributes)
		ul(class=s.features_list)
			each item in list
				+feature(item)(class=s.features_item)
