include ../icon/index.pug

mixin backToTop()
	button(
		type='button'
		x-data='covid()'
		x-show='thresholdTop && thresholdBottom'
		@click.prevent='smoothScroll("#js-header-menu")'
		@scroll.window='backToTop()'
		class=s.backToTop)&attributes(attributes)
		span(class=s.backToTop_text) Back To Top
		+icon('assetIconVirus')(class=s.backToTop_icon)
