mixin link(prop, ...modifier)
	- let {str = 'link', href = '#', icon = false} = prop;
	a(
		href= href
		class=cx(s.link, { [s.link__icon]: icon }, modifier.map(mod => s[`link__${mod}`]))
		target='_blank'
		rel='noopener noreferrer'
		)&attributes(attributes)
		if str
			span(class=s.link_text)!= str
		block
